
#### New Instance
#----------------------------------------------------
homeassistant:
  time_zone: Europe/Vienna
  packages: !include_dir_named packages
  whitelist_external_dirs:
    - /config/ffmpeg/
    - /config/shell_scripts/

default_config:

lovelace:
  mode: yaml

logger:
  default: critical
  logs:
    homeassistant.core: debug



zone:
  - name: !secret work_p1
    latitude: !secret work_p1_latitude
    longitude: !secret work_p1_longitude
    radius: 70


frontend:
  themes: !include_dir_merge_named themes/
#  javascript_version: auto
  javascript_version: latest

tts:
  - platform: google_translate


#!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! check for error
#automation: !include automations.yaml

automation: !include_dir_list automations

scene: !include scenes.yaml
scene old: !include_dir_list scene/

#group: !include groups.yaml
#light: !include lights.yaml
sensor: !include sensors.yaml
#script: !include scripts.yaml

#binary_sensor: !include binarysensor.yaml
#switch: !include switch.yaml

http:
  server_port: 8123
  ip_ban_enabled: true 
  login_attempts_threshold: 5
  use_x_forwarded_for: true
  trusted_proxies:
  - 127.0.0.1
  - 172.30.33.0/24
  base_url: !secret cloudflare_baseurlmain

# Set as integration for now
#hacs:
#  token: !secret github_api
#  appdaemon: True
#  python_script: True
#  theme: True

mqtt:
  discovery: false
#  broker: 127.0.0.1
  broker: 10.0.0.27
  username: !secret mqtt_username
  password: !secret mqtt_password
  birth_message:
    topic: 'main_instance/status'
    payload: 'online'
  will_message:
    topic: 'main_instance/status'
    payload: 'offline'